doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        - let dato = false
        
    body
        - const names = ['David', 'Olga', 'Sebastián', 'Angela']

        // - const names = []
        -   
            const user = {
                id : 1,
                user_name: 'David'
            }

        div
        each name in names
            p= `${name.charAt(0).toUpperCase()}${name.substring(1)}`
        else 
            p= 'El array está vacio'

        each v, k in user        
            p= `la key es ${v} el value es ${k}`
        
        each name, i in names
            p= `${i+1}: ${name}`
            